:host {
  display: block;
  border-right: 3px dashed black;
  padding-right: 4rem;
}

li {
  line-height: 2;
}

li:hover {
  cursor: pointer;
}

.displayBox {
  width: auto;
}

img {
  width: auto;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 2px dotted black;
}

h3 {
  text-align: center;
  font-size: 1.25rem;
}

/* Add a 'selected' class here to style selected astronaut names a different color. */
.selected {
  color: magenta;
  font-weight: 700;
}

.full {
  color: red;
}

.crew:hover {
  color: rgb(13, 132, 90);
}
