:host {
  display: block;
  border-right: 3px dashed black;
  padding: 0 4rem;
}

.displayBox {
  width: auto;
}

button {
  margin: 2px;
  cursor: pointer;
  font-size: .85rem;
  border: none;
  border-radius: 5px;
  padding: 3px 8px;
  color: white;
}

h3 {
  text-align: center;
  font-size: 1.25rem;
}

li {
  line-height: 2;
}

/* Add an 'active' class to style the background of the 'Add to Cargo Hold' buttons. */
.active {
  background-color: rgb(6, 74, 6);
}

.empty {
  background-color: darkred;
}

.remove {
  background-color: rgb(255, 123, 0);
}

/* Add the 'nearMaxMass' class style here: */
.nearMaxMass {
  font-weight: 700;
  color: red;
}
