/* Add an 'active' class to style the background of the 'Add to Cargo Hold' buttons. */
.active {
  background-color: rgb(6, 74, 6);
}

.empty {
  background-color: darkred;
}

/* Add the 'nearMaxMass' class style here: */
.nearMaxMass {
  font-weight: 700;
  color: red;
}

.center {
  text-align: center;
}
