@import url('https://fonts.googleapis.com/css2?family=Gantari&display=swap');

.box {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

app-crew,
app-equipment,
app-experiments {
  font-family: 'Gantari', sans-serif;
  width: 33%;
  padding: 0 1rem;
}

app-crew,
app-equipment {
  border-right: 3px dashed black;
}
